.StyledSearchField {
  display: flex;
  align-items: center;

  background-color: #fff;
  height: 40px;

  .icon {
    display: flex;
    align-items: center;
    margin-right: 10px;
    color:#fff;
    img {
      height: 100%;
      width: 100%;
      color:#fff;
    }
  }

  input {
    border: none;
    outline: none;
    width: 400px;
  }

  @media only screen and (max-width: 1024px) {
    .icon {
      width: 2rem;
    }
  }

  .tooltip {
    position: absolute;
    background: #d7e3f9;
    margin-bottom: -130px;
    color: #4c4c80;
    padding: 0.7rem 1rem;
    border-radius: 10px;
    border-top-left-radius: 0;
    z-index: 300;
    font-size: 12px;
    line-height: 1.5rem;
    border: 1px solid #a3b7dc;
    box-shadow: 1px 2px 8px rgba(0, 0, 100, 0.2);
    opacity: 0;
    transition-duration: 0.2s;
    transition-properties: opacity;
  }
}
