$fontfamily1: "Avenir next", sans-serif;
$fontfamily2: "Work Sans", sans-serif;
$fontfamily1B: "Avenir next bold", sans-serif;
$blueColor: #213f7d;
$textColor: #545f7d;
$greenColor: #39cdcc;

body {
  background-color: #fafafa;
  font-family: $fontfamily1;
  overflow-x: hidden;
}

.loadingIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
  .imgloader {
    width: 50px;
    height: 50px;
  }
}

@mixin Desktop {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin Phone {
  @media (max-width: 599px) {
    @content;
  }
}

@mixin Tablet {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin ExtendedTablet {
  @media (max-width: 900px) {
    @content;
  }
}

@mixin buttonPrimary {
  outline: none;
  cursor: pointer;
  font-size: 14px;
  padding: 15px 20px;
  font-weight: 600;
  background-color: $greenColor;
  color: #ffffff;
  border-radius: 8px;
  border: none;
  font-family: $fontfamily1;
}

@mixin input {
  color: $textColor;
  outline: none;
  width: 100%;
  border: 2px solid #545f7d26;
  border-radius: 5px;
  height: 50px;
  font-family: $fontfamily1;
  font-size: 14px;
}

.sm-only {
  display: none;
}


/*login svg left*/
.leftside {
  @include Desktop {
    display: block;
    width: 600px;
    height: 337.57px;
    margin-left: 67px;

    body {
      height: 100vh;
    }
  }

  @include Phone {
    display: none;
    body {
      height: 100vh;
    }
    .sm-only {
      display: block;
    }
  }

  @include Tablet {
    display: none body {
      height: 100vh;
    }
    .sm-only {
      display: block;
    }
  }
}

.rightside {
  @include Desktop {
    .Login {
      display: block;
      width: 600px;
      height: 337.57px;
      margin-left: 67px;
      margin:130px;


    }

    .nav-bar{
      display:none
    }

    .sm-only {
      display: block;
    }

    body {
      height: 100vh;
    }
  }

  @include Phone {
    margin-top: -30px;
    width: 100%;
    margin: 20px;
    padding: 20px;
    height: 500px;

 

    .sm-only {
      display: none;
    }

    h1,
    h2,
    h3 {
      font-size: 15px;
      font-weight: small;
    }

    .Login {
      width: 100%;
      margin: 10px;
      padding: 20px;
        padding:20px;
     
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    }

    .reset-link,  p a{
       margin:20px;
       margin-left:-10px;
    }

    
 

    input,
      .StyledButton2,
      .StyledButton,
      button {
       
        width: 180px;
      }
    body {
      height: 100vh;
      overflow-x: hidden;
    }
  }

  @include Tablet {
    margin-top: -30px;
    width: 100%;
    margin: 20px;
    padding: 10px;
    height: 500px;

    

    .Login {
      width: 100%;
      margin: 10px;
      padding: 10px;
      margin-top: -30px;

      
    }

    input,
      .StyledButton2,
      .StyledButton,
      button {
       
        width: 180px;
      }

    h1,
    h2,
    h3 {
      font-size: 15px;
      font-weight: small;
    }

    .sm-only {
      display: none;
    }
    body {
      height: 100vh;
    }
  }
}

/*nav bar responsive*/

.nav-bar {
  @include Desktop {
  }

  @include Phone {
    height: 90px;
    .flex-classic {
      display: flex;
      flex-direction: column;
      box-shadow: 4px 2px 2px #f6f6f6;
      margin-bottom: 1px;
    }

    .StyledSearchField {
      margin-left: -50px;
      width: 100px;
    }

    .user-action-notifier {
      display: none;
    }
  }

  @include Tablet {
    .flex-classic {
      display: flex;
      flex-direction: column;
      box-shadow: 4px 2px 2px #f6f6f6;
    }

    .StyledSearchField {
      margin-left: -50px;
      width: 100px;
    }

    .user-action-notifier {
      display: none;
    }
  }
}

/*sidebar responsiveness*/
.sidebar-menu {
  @include Desktop {
  }

  @include Phone {
    width: 100px;
    .wrapperSidebar {
      width: 100px;
      .sidebar-item .text {
        display: none;
      }

      .dropdown-form select {
        width: 80px;
        font-size: 10px;
        margin-left: -20px;
      }
    }

    body {
      height: 100vh;
      overflow-x: hidden;
    }
  }

  @include Tablet {
    width: 100px;
    .wrapperSidebar {
      width: 100px;

      .sidebar-item .text {
        display: none;
      }

      .dropdown-form select {
        width: 80px;
        font-size: 10px;
        margin-left: -20px;
      }
    }
    body {
      height: 100vh;
      overflow-x: hidden;
    }
  }
}








/*main workbench responsiive*/
.StyledMain  {
  @include Desktop {
  }

  @include Phone {
    margin-top:-60px;
   
   
  
  
  }

  @include Tablet {
    margin-top:-60px;
    

   
    
  }
}











.parent , body{
  max-width: 100vw;
  margin: auto;

}
.container-fluid {
  width: 100vw; 
  margin-left: calc((-100vw + 100%) / 2);
  margin-right: calc((-100vw + 100%) / 2);

}
