

@media only screen and (max-width:319px)  { 
.leftside{
    display: none;
    width:0px;
    
 }
  body {
      height: 100vh;
    }
    .sm-only {
      display: block;
    }

  .Login{
    max-width: 350px;
    width:300px;
    margin: 10px;
    h3 {
   
    font-size: 20px;
    font-weight: 300;
   

    line-height: 24.64px;
  }
  .info {
    font-size: 10px;
    font-weight: 200;

    line-height: 27.32px;
  }
  .reset-link,  p a{
    
    font-size: 12px;
    font-weight: 300;
    line-height: 8.39px;
     margin-top:10px;
     margin-bottom: 10px;

 
   }
  }
}
@media only screen and (min-width:320px) and (max-width:767px)  { 
  .leftside{
    display: none;
    width:0px;

    
 }
  body {
      height: 100vh;
    }
    .sm-only {
      display: block;
    }

  .Login{
     max-width: 350px;
    width:300px;
    margin: 10px;

    h3 {
   
      font-size: 20px;
      font-weight: 300;
   

      line-height: 24.64px;
    }
  .info {
    font-size: 10px;
    font-weight: 200;

    line-height: 27.32px;
  }
  .reset-link,  p a{
    
    font-size: 12px;
    font-weight: 300;
    line-height: 8.39px;
    margin-top: 10px;
margin-bottom: 10px;
 
   }
  }
}
@media only screen and (min-width:768px) and (max-width:1023px)  { 

.Login {
  width: 460px;
  height: 485px;
  border: none;
  background: #fff;
  padding: 48px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4px;


 

  
}

}
@media only screen and (min-width:1024px) and (max-width:1899px) { 

.Login {
  width: 460px;
  height: 485px;
  border: none;
  background: #fff;
  padding: 48px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4px;


 

  
}
}
@media only screen and (min-width:1900px) {
   .Login {
  width: 460px;
  height: 485px;
  border: none;
  background: #fff;
  padding: 48px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 4px;


 

  
}

 }








