
.table-responsive {
	padding: 0px 30px;
	margin-top: 40px;
	background-color: #ffffff;
	border: 1px solid rgba(33, 63, 125, 0.06);
	box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
	border-radius: 4px;
	width: 100%;
	overflow-x: auto;
	table {
		width: 100%;
		border-collapse: collapse;
		color: $textPrimary;
		overflow-x: auto;
		thead {
			tr {
				th {
					position: relative;
					font-size: 12px;
					font-weight: 600;
					text-transform: uppercase;
					padding: 20px 20px 20px 0px;
					text-align: left;
					max-width: 200px;
					word-wrap: break-word;
					@include mediaQueriesMobilePhones{
						max-width: 150px;
					}
					div {
						display: flex;
						align-items: center;
						gap: 5px;
						img {
							cursor: pointer;
						}
					}
					&:last-child {
						min-width: 20px;
					}
				}
			}
		}
		tbody {
			tr {
				.status.active {
					padding: 6px 10px;
					color: #39cd62;
					background-color: #39cd633b;
					border-radius: 100px;
					font-size: 14px;
				}
				td {
					font-size: 14px;
					font-weight: 400;
					max-width: 200px;
					padding: 20px 20px 20px 0;
					text-transform: capitalize;
					border-bottom: 1px solid rgba(33, 63, 125, 0.1);
					word-wrap: break-word;
					&:last-child {
						position: relative;
						img {
							cursor: pointer;
						}
					}
					@include mediaQueriesMobilePhones {
						max-width: 150px;
					}
				}
				a {
					color: $primaryText;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
}
