.StyledLabel {
  font-size: 13.5px;
  line-height: 18px;
  margin-bottom: 10px;

}

.styledInformationModal {
  text-align: start;

  margin-bottom: 20px;

  padding: 80px;
  background: #ffffff;
  border: 1px solid rgba(33, 63, 125, 0.06);
  box-shadow: 3px 5px 20px rgba(0, 0, 0, 0.04);
  border-radius: 4px;

}

.DetailLabel {
  font-size: 13px;
  color: #979797;
  margin: 5px;
  padding: 10px;
}

.DetailValue {
  font-size: 15px;
  color: black;
  margin: 7px;
  padding:10px;
}

.Line {
  border-radius: 10px 10px 0px 0px;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  background-color: #39cdcc;
  height: 4px;
  position: absolute;
}

.TabText {
  font-weight: 800;
  font-size: 15px;
}

.TabContainer {
  column-gap: 22px;
  display: flex;
}

.Tab {
  border: none;
  background: #fff;
  height: 56px;
  width: 250px;
  margin-top: 30px;
  color: #39cdcc;
}

.TabNotification {
  background: #f7685b;
  color: white;
  font-size: 11px;
  font-weight: 900;
}

.Wrapper {
  border-bottom: 1px solid #dbdce0;
  margin-top: 30px;
  margin-bottom: 0px;
}







.tab-navi {
  overflow: hidden;
  margin-top:-33px;
}

.tab-navi a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 12px;
  font-family: courier new;
  font-weight: bold;
  width:240px;
}

.tab-navi a:hover {
 
  color: black;
}

.tab-navi a.active {
  border-bottom:  2px solid #39CDCC;

  color: #39CDCC;
}

.tab-navi .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .tab-navi a:not(:first-child) {display: none;}
  .tab-navi a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .tab-navi.responsive {position: relative;}
  .tab-navi.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .tab-navi.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

.right-lnk {
   float: right;
   margin-top:-20px;
}
