.current-page {
  font-size: 1.5rem;
  vertical-align: middle;
}

ul.pagination {
 margin-top:30px;
  margin-bottom: 0;
}
ul.pagination li.page-item.active a.page-link {
  background: #fafafa;
  border: none;
}
ul.pagination a.page-link {
  padding: 0.75rem 1rem;
  min-width: 3.5rem;
  text-align: center;
  box-shadow: none !important;

  color: #545f7d;
  font-weight: 600;
  font-size:15px;
  background: #fafafa;
  border: none;
}
ul.pagination a.page-link:hover {
  background-color: #fff;
}








