.imgLogo{
  padding: 10px;
  width: 120px;
  margin: 10px;
  margin-left: 10px;

}

.drop-toggle:after {
  font-family: 'FontAwesome';/* essential to enable caret symbol*/
  content: "\f0d7";
  color: grey;
  margin-left:5px;
}
.drop-toggle.collapsed:after {
  content: "\f0d7";
}
 a{
  color:#213F7D
}

.nav-bar{
  width: 100%;
  background-color: #fff;
  margin-left:20px;
}


.searchBar{
  margin-left: 150px;
  margin-right: 600px;
}