.grid-content{

 
  padding: 1rem;
  height: 4rem;
}

.grid-templates {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;

    border-bottom-color:#DBDCE0;
          border-width:1px;
          border-bottom-style:solid;
          margin-bottom: 20px;
          margin-top:20px;
}

/* Screen larger than 600px? 2 column */
@media (min-width: 600px) {
  .grid-templates { grid-template-columns: repeat(5, 1fr); }
}

/* Screen larger than 900px? 3 columns */
@media (min-width: 900px) {
  .grid-templates{ grid-template-columns: repeat(5, 1fr); }
}
